/* header */
.section-header{
    width: 100%;
    background-color: #3A7D44;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    max-width: 1640px;
    width: 1640px;
    height: 95px;
    padding: 0px 80px;
    margin: 0;
}

.container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.container-logo > img{
    width: 100px;
    height: 100px;
}
 
.header-menu{
    display: flex;
    padding: 10px;
    /* gap: 85px; */
    list-style: none;
    margin: 0;
}

.header-menu li > a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin-left: 100px;
}

.header-menu li > a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    color: #7BC043;
}

.container-btn {
    display: flex;
    gap: 18px;
    width: fit-content;
}

.menu-bars {
    display: none;
}

.hamburger {
  width: 36px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger span {
    line-height: 10px;
    height: 4px;
    background: #ffffff;
    border-radius: 5px;
    transition: all 0.4s ease;
}

/* Animação X centralizado */
.hamburger.active span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}

.menu-mobile {
  position: absolute;
  top: 95px;
  margin-right: 18px;
  border-radius: 10px;
  right: 0;
  width: 210px;
  background-color: #ffffff;
  padding: 20px;
  display: none;
}

.menu-mobile.active {
  display: block; /* aparece quando ativa */
}

.menu-mobile li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.menu-mobile li {
    list-style: none;
    padding-bottom: 15px;
}

.login-btn {
    padding: 10px 15px;
    margin-left: 25px;
    border-radius: 15px;
    border: none;
    font-weight: 700;
    transition: 0.3s ease;
}

.planos-btn:hover {
    background-color: #78b35f;
}

.login-btn:hover {
    background-color: #e0e0e0;
}

.login-btn:active, .planos-btn:active {
    transform: scale(0.95); /* leve efeito de clique */
  }

.planos-btn {
    width:auto;
    white-space: nowrap;
    padding: 10px 15px;
    border-radius: 15px;
    border: none;
    background-color: #7BC043;
    font-weight: 700;
    color: white;
    transition: 0.3s ease;
}

#container-inicio {
    background-color: rgba(88, 1, 1, 0.219);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    width: 100%;
    height: 100vh;
    /* padding: 190px 20px; */
    position: relative; 
    margin: 0;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteudo-principal h1 {
    color: white;
    font-size: 4.3em;
    text-align: center;
    line-height: 1.6em;
    margin-top: 50px;
}

.parte-verde-inicio {
    color: #7BC043;
}

.paragrafos-header {
    text-align: center;
    color: white;
    font-size: 24px;
    line-height: 1.2em;
    font-weight: 300;
    margin-top: 40px;
}

.saiba-mais-btn{
    margin-top: 150px;
    padding: 15px 40px;
    width: 225px;
    border: none;
    border-radius: 25px;
    background-color: #2F7E3E;
    box-shadow: 0 4px 4px #00000044;
    color: white;
    font-weight: 300;
    font-size: 24px;
    cursor: pointer;
}
.saiba-mais-btn:hover{
    background-color: #22632e;
}

.background-video {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    position: absolute;
    z-index: -1;
    filter: brightness(65%);
    position: absolute;
}
@media (max-width: 710px){
    #header{
        width: 100%;
    } 
}
@media (max-width: 450px) {
    .conteudo-principal h1 {
        color: white;
        font-size: 4.1em;
        text-align: center;
        line-height: 2.1em;
        margin-top: 50px;
    }
    
    
}