/* container principal */
#section-pagamento {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.content-pagamento {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 1240px;
    border-radius: 20px;
    padding: 40px;

}

input::placeholder {
    color: #bdbdbd;;
}

/* formulário */
.form-pagamento {
    border-right: 1px solid #D9D9D9;
    width: 705px;
}

.card-form {
    background-color: #FBFBFB;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 620px;
    height: fit-content;
    border: 1px solid #D9D9D9;
}

.header-form {
    display: flex;
    flex-direction: column;
    padding: 23px;
}

.header-form h1 {
    font-size: 1.7em;
}

.label-pagamento {
    font-size: 19px;
    padding: 15px 0px 8px 2px;
}

.label-pagamento-header {
    font-weight: 600;
}

.label-pagamento-footer{
    font-weight: 500;
}

.input-pagamento {
    height: 35px;
    border-radius: 10px;
    padding-left: 15px;
    background-color: #F9F9F9;
    border: 1px solid #A8A8A8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-pagamento img {
    width: 37px;
    height: 25px;
    margin: 0 9px 0 0;
}

.input-vazio {
    background-color: transparent;
    border:none;
    width: 90%;
}

input:focus{
    outline: none;
}
.footer-form {
  display: flex;
  flex-direction: column;

  background-color: #bcbcbc61;
  padding: 23px;
  border-radius: 15px;
}

/* grupo que tem os dois campos lado a lado */
.group-form {
  display: flex;
  justify-content: space-between;
  gap: 40px; 
  width: 100%;
  background-color: transparent; 
}

/* cada campo dentro do grupo */
.sub-group-form {
  display: flex;
  flex-direction: column; 

}

/* detalhes do pedido */
.detalhe-pedido {
    width: 463px;
    display: flex;
    flex-direction: column;
}

.card-pedido {
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: #FBFBFB;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    height: auto;
}

.titulo-card-pedido {
    font-size: 1.3em;
}

.detalhe-plano h5 {
    font-weight: 600;
    font-size: .9em;
    margin: 10px 0px;
}

.detalhe-plano p {
    font-size: 14px;
    font-weight: 500;
    color: rgba(39, 39, 39, 0.5);
    max-width: 400px;
}

/* valores */
.previa-valor-plano, .total-valor-plano {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.previa-valor-plano {
    border-bottom: 1px solid #D9D9D9;
    padding-top: 40px;
}

.previa-valor-plano p, .total-valor-plano p {
    font-weight: 500;
    font-size: 14px;
}

.total-valor-plano p {
    font-weight: 600;
    font-size: 17px;
}

/* parte de confirmar compra */
.container-finalizar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.p-termos {
    padding: 13px;
    font-size: 12px;
    text-align: center;
}

.p-termos a {
    text-decoration: none;
    color: #008cffc2;
}

.compra-btn {
    height: 51px;
    width: 100%;
    border-radius: 17px;
    border: none;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
}

#finalizar-btn {
    color: white;
    background-color: #61AFE2;
}

#finalizar-btn:hover {
    border: 3px solid #97C9E9;
}

#cancelar-btn {
    color: #97C9E9;
    border: 2px solid #97C9E9;
    background-color: #ffffff;
}

#cancelar-btn:hover {
    border: 3px solid #97C9E9;
}

.p-criptografados {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.39);
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' -25,
  'opsz' 20
}

