/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  /* Container centralizado */
  body {
    background-color: #f9fafb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    color: #333;
    width: 100%;
    max-width: 400px;
  }
  
  /* Título */
  .titulo {
    font-size: 3rem;
    color: #7ab648;
    margin-bottom: 20px;
  
   
    
    
  }
  
  .titulo strong {
    color: #53a3f5;
  }
  
  .subtitulo {
    font-size: 1rem;
    color: #999;
    margin-bottom: 30px;
    gap: 20px;
  }
  
  /* Card */
  .card {
    background: #fcfff9;
    padding: 80px 50px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    position: relative;
  }
  
  .plano-cabecalho {
    background-color: #dff1d6;
    color: #000000;

    padding: 12px 15px;
    border-radius: 20px;
    width: 110px;
    margin-top:  20px;
    position: absolute;
    top: 0;
    left: 40%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.144);
    ;
  }
  
  .descricao {
    font-size: rem;
    color: #444;
    margin-bottom: 15px;
    margin: 0 auto 60px;
  }
  
  .preco {
    margin-bottom: 15px;
   
  }
  
  .cifrao {
    font-size: 2rem;
    
  }
  
  .valor {
    font-size: 4rem;
    font-weight: 700;
    color: #222;
  }
  
  .mes {
    color: #53a3f5;
    font-size: 2rem;
  }
  
  /* Linha divisória */
  hr {
    border: none;
    height: 1px;
    background: #7BC043;
    margin: 15px 0;
  }
  
  /* Benefícios */
  .titulo-beneficios {
    font-weight: 600;
    margin-bottom: 8px;
    
  }
  
  .beneficios ul {
    list-style: none;
    font-size: 1rem;
    text-align: left;
    /*margin-left: 30%;*/
    line-height: 1.6;
  }
  
  /* Botão */
  .botao {
    background-color: #8dc971;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 15px 60px;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 60px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.24);
  }
  
  .botao:hover {
    background-color: #78b35f;
  }
  
  
  