/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  /* Centralização total da página */
  body {
    background-color: #f7f8fa;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  /* Seção principal */
  .clientes {
    text-align: center;
    color: #333;
    max-width: 600px;
    width: 90%;
  }
  
  /* Título */
  .titulo {
    font-size: 3rem;
    color: #7ab648;
    margin-bottom: 10px;
    line-height: 1.5;
  }
  
  .titulo span {
    font-weight: 600;
  }
  
  .descricao {
    color: #888;
    font-size: 1rem;
    margin-bottom: 30px;
    line-height: 1.5;
  }
  
  /* Card */
  .card {
    background-color: #f0f7eb;
    border-radius: 15px;
    padding: 110px 30px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative;
    margin: 0 auto;
  }
  
  /* Cabeçalho do card */
  .cliente-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;

  }
  
  /* Avatar */
  .avatar {
    width: 80px;
    height: 80px;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin-right: 10px;
  }
  .img-perfil {
    width: 59px;
    height: 59px;

    border-radius: 50%;
    margin-right: 10px;
  }
  
  /* Nome e empresa */
  .cliente-nome {
    font-size: 1.7rem;
    font-weight: 600;
 

  }
  
  .cliente-empresa {
    color: #53a3f5;
    font-size: 1rem;
  }
  
  /* Aspas decorativa */
  .aspas {
    font-size: 2rem;
    color: #666;
    font-weight: bold;
    display: flex;
    justify-content: end;
  }
  
  /* Comentário */
  .comentario {
    font-size: 0.95rem;
    color: #444;
    line-height: 1.6;
  }
  
  /* Responsivo */
  @media (max-width: 480px) {
    .titulo {
      font-size: 1.6rem;
    }
  
    .card {
      padding: 20px;
    }
  
    .cliente-info {
      flex-direction: row;
      align-items: flex-start;
      gap: 10px;
    }
  
    .avatar {
      width: 40px;
      height: 40px;
    }
  
    .comentario {
      font-size: 0.9rem;
    }
  }
  
  