section{
    width: 100%;
    text-align: center;
}
.preview b{
   color: rgba(45, 156, 219, 1);
   text-align: center;
}
.preview h1{
   color: rgba(123, 192, 67, 1);
   text-align: center;
    font-size: 48px;
}
.preview{
    justify-content: center;
    justify-self: center;
    margin: auto;
    max-width: 1240px;
    background-color: rgba(99, 115, 129, 0.1);
    height: 920px;
}
.texto-preview{
    padding-top: 50px;
    font-size: 20px;
}
.texto-preview p{
    height: 48px;
    width: 770px;
    justify-self: center;
}
.carrossel{
    width: 640px;
    height: 53px;
    border: 1px solid rgba(58, 125, 68, 1);
    border-radius: 45px;
    display: flex;
    justify-self: center;
    justify-content: space-around;
    align-items: center;
}
button{
    border: none;
    background-color: transparent;
    width: 25%;
    font-size: medium;
    font-weight: bolder;
}
.ativo{
    height: 47px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgba(58, 125, 68, 1);
    border-radius: 45px;
}
#imagem{
    height: 496px;
    width: 90%;
    margin-top: 20px;
    justify-self: center;
    border: 2px solid rgba(58, 125, 68, 1);
    border-radius: 20px;
}