* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* container principal */
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 20px;
}

.content-pagamento {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* permite quebrar em telas pequenas */
    gap: 40px;
    width: 100%;
    max-width: 1440px;
    border-radius: 20px;
    padding: 40px;
}

/* formulário */
.form-pagamento {
    border-right: 1px solid #D9D9D9;
    width: 705px;
    min-width: 300px;
}

.card-form {
    background-color: #FBFBFB;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 620px;
    height: fit-content;
    border: 1px solid #D9D9D9;
}

.header-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 23px;
}

.header-form h1 {
    font-size: 1.7em;
}

.label-pagamento {
    font-size: 19px;
    padding: 15px 0px 8px 2px;
}

.label-pagamento-header {
    font-weight: 600;
}

.label-pagamento-footer{
    font-weight: 500;
}

.input-pagamento {
    height: 35px;
    border-radius: 10px;
    padding-left: 20px;
    background-color: #F9F9F9;
    border: 1px solid #A8A8A8;
}

.footer-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #bcbcbc61;
  padding: 23px;
  border-radius: 15px;
}

/* grupo que contém os dois campos lado a lado */
.group-form {
  display: flex;
  justify-content: space-between;
  gap: 40px; /* espaçamento entre os dois campos */
  width: 100%;
  background-color: transparent; /* tirando o azul de fundo */
}

/* cada campo dentro do grupo */
.sub-group-form {
  display: flex;
  flex-direction: column; /* label em cima, input embaixo */
  flex: 1; /* cada um ocupa metade do espaço */
}

/* detalhes do pedido */
.detalhe-pedido {
    width: 463px;
    min-width: 280px;
}

.card-pedido {
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: #FBFBFB;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    height: auto;
}

.titulo-card-pedido {
    font-size: 1.3em;
}

.detalhe-plano h5 {
    font-weight: 600;
    font-size: .9em;
    margin: 10px 0px;
}

.detalhe-plano p {
    font-size: 14px;
    font-weight: 500;
    color: rgba(39, 39, 39, 0.5);
    max-width: 400px;
}

/* valores */
.previa-valor-plano, .total-valor-plano {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.previa-valor-plano {
    border-bottom: 1px solid #D9D9D9;
    padding-top: 40px;
}

.previa-valor-plano p, .total-valor-plano p {
    font-weight: 500;
    font-size: 14px;
}

.total-valor-plano p:last-child {
    font-weight: 600;
    font-size: 17px;
}

/* parte de confirmar compra */
.container-finalizar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.p-termos {
    padding: 10px;
    font-size: 12px;
    text-align: center;
}

.p-termos a {
    text-decoration: none;
    color: #008cffc2;
}

.compra-btn {
    height: 51px;
    width: 100%;
    max-width: 450px;
    border-radius: 17px;
    border: none;
    font-size: 17px;
    margin-bottom: 20px;
}

#finaliza-btn {
    color: white;
    background-color: #61AFE2;
}

#cancelar-btn {
    color: #97C9E9;
    border: 2px solid #97C9E9;
    background-color: #ffffff;
}

.p-criptografados {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.521);
    font-weight: 400;
    text-align: center;
}


